.mainDiv {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 1;
  background-color: white;
}
.cont {
  width: 350px;
  border: 2px solid #35cce6;
}
.h1 {
  padding: 10px;
  background-color: #35cce6;
}
.headingDiv {
  padding-bottom: 10px;
}
.heading {
  /* padding-left: 10px; */
  display: inline;
}
.dltbtn {
  font-size: 30px;
  float: right;
}
.colinput {
  display: flex;
  flex-direction: column;
  height: 290px;
  overflow: auto;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.userDiv {
  max-width: 70%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  float: right;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #35cce6;
  color: white;
}
.username {
  align-self: flex-end;
  font-weight: bold;
}
.span-msg1 {
  align-self: flex-end;
}
.time {
  align-self: flex-start;
  font-size: x-small;
}
.UserDiv2nd {
  max-width: 70%;
  min-width: 40%;
  display: flex;
  float: left;
  flex-direction: column;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(126, 126, 245);
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}
.name {
  font-weight: bold;
}
.date {
  font-size: x-small;
  align-self: flex-end;
}
