.headerRow{
    background-color:  #ebeeef;
    position: sticky;
    top: 0;
    z-index: 1;
}
.columImg{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.olxImg{
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.sarchImg{
    width: 30px;
}
.srchInput{
    margin: 10px;
}
.loginCol{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.loginBtn{
    border-bottom: 3px solid #007bff;
    color: #007bff;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anticon svg{
    font-size: 25px
}